* {
    box-sizing: content-box;
}

body {
    background-size: 250%;
    background-position: center;
}

/* Miscellaneous Classes*/

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

#github {
    text-align: center;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 1%;
    left: 1%;
    border-radius: 2px;
    border: 1px solid black;
    background-color: white;
}

#github a {
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}

/* Structure Styling */

.sectionLeft {
    float: left;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sectionRight {
    float: right;
    width: 20%;
    height: 100%;
    overflow-y: auto;
}

.scoreContainer {
    background-color: hsla(130, 15%, 45%, 0.5);
    border-radius: 10px;
    width: 50%;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.sectionFooter {
    margin-top: 20%;
    align-self: flex-start;
}

/* .clickerContainer img {
    position: relative;

}

.clickerContainer img:hover {
    transform: scale(1.1);
}

.clickerContainer img:active {
    transform: scale(0.99);
} */

#clicker {
    background-image: url("./img/popcorn.svg");
    background-size: contain;
    position: relative;
    width: 200px;
    height: 200px;
    transition: transform 0.2s ease;
    cursor: pointer;
}

#clicker:hover {
    transform: scale(1.1);
}

#clicker:active {
    transform: scale(0.9);
}

#clicker > .number {
    z-index: 99;
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    position: absolute;
}

#info {
    font-size: 0.83em;
    font-weight: bold;
}

#shopContainer {
    overflow: auto;
}

.shopButton {
    background-color: hsl(0, 0%, 75%);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    width: 100%;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
}

.shopButton:hover {
    background-color: hsl(0, 0%, 80%);
    transition: all 0.2s ease-in-out;
}

.shopButton #image {
    width: 25%;
}

.shopButton img {
    width: 64px;
    height: auto;
}

.shopButton #nameAndCost p {
    margin: 0px;
    width: 60%;
}

.shopButton #nameAndCost p:first-of-type {
    font-size: 24px;
}

.shopButton #amount {
    font-size: 48px;
    color: hsl(0, 0%, 35%);
    font-family: roboto;
    width: 15%;
}

#contextMenu {
    position: fixed;
    z-index: 1;
    width: 150px;
    background-color: hsla(0, 0%, 80%, 0.8);
    border-radius: 4.5px;
    display: none;
}

#contextMenu > .contextMenuItem {
    padding: 8px 10px;
    font-size: 16px;
    color: hsl(0, 0%, 20%);
    cursor: pointer;
    border-radius: inherit;
    transition: background-color 0.2s ease;
}

#contextMenu > .contextMenuItem:hover {
    background-color: hsl(0, 0%, 70%, 0.8);
}

#contextMenu.visible {
    display: block;
}

#upgradeContainer img,
#achievementContainer img {
    width: 64px;
    height: 64px;
}

/* Cheat Container Styling */

#cheatContainer {
    position: fixed;
    display: none;
    z-index: 2;
    bottom: 0px;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    margin: 0;
    border-top: 1px solid black;
    background-color: hsl(0, 0%, 50%, 0.8);
}

#cheatContainer.show {
    display: block;
}

#cheatContainer > .button {
    display: inline-block;
    border: 1px solid black;
    background-color: hsl(0, 0%, 82%, 0.8);
    border-radius: 10px;
    transition: all 0.1s ease-in;
    padding: 10px;
}

#cheatContainer > .button:hover {
    background-color: hsl(0, 0%, 90%, 0.8);
}

#cheatContainer > .button:active {
    background-color: hsl(0, 0%, 60%, 0.8);
    transform: scale(1.1);
}

#cheatContainer__header {
    text-align: center;
}

/* custom scrollbar only for webkit browsers (sorry firefox users)*/
::-webkit-scrollbar {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(196, 15%, 86%);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    box-sizing: border-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(190, 15%, 70%);
}